<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Bookstore Automation Suite — All Modules" verbose="1">
    <suite-files>
        <suite-file path="src/test/resources/suites/testng-auth.xml"/>
<!--        <suite-file path="src/main/resources/suites/testng-product.xml"    />-->
    </suite-files>

</suite>